body{
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	/*background-image: url('../images/Website Images/index_book_1.jpg');*/
	background-color: #f7f1ed;
}

hr{
	height:3px;
	background-color: #7c7b7a;
	width: 60%;
}
/********************PARALLAX***********************/
#index_parallax.parallax-window {
    min-height: 600px;
}

#footer_parallax.parallax-window {
    min-height: 500px;
}

/********************PARALLAX***********************/
/********************FONTS************************/
@font-face {
	font-family: RalewayLight;
	src: url(../fonts/Raleway-Light.ttf);
}
@font-face {
	font-family: RalewayMedium;
	src: url(../fonts/Raleway-Medium.ttf);
}
@font-face {
	font-family: ClearfaceBold;
	src: url(../fonts/Clearface-Bold.otf);
}
/********************NAVBAR***********************/
.navbar-default {
	background: none;
	border-style: none;
	padding-left: 50px;
	padding-right: 50px;
	padding-top: 10px;
	padding-bottom: 5px;
}

.navbar-fixed-top.scrolled, .navbar-fixed-top.screen-resized {
	transition: all ease .5s;
	background-color: black;
	border-color: black;
	opacity:0.8;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
	background-color: transparent;
} /*kapag cnlick ung dropdown*/

#navbrand{
	font-size: 25px;
	color: #ffffff;
	font-family: RalewayLight;
}

.dropdown-menu .dropdown-item{
	color: #373737;
	font-family: RalewayLight;
	font-size: 13px;
}

.dropdown-item:hover{
	background: #f7f1ed;
	color: #373737;
}

.dropdown-menu:hover{
	background: transparent;
}

.dropdown-menu.scrolled, .dropdown-item.scrolled, 
.dropdown-menu.screen-resized, .dropdown-item.screen-resized{
	transition: all ease .5s;
	background-color: black;
	border-color: black;
	opacity:0.8;
}

.jumbotron{
	background: none;
	position: absolute;
	color: #ffffff;
	font-family: ClearfaceBold;
	/*margin-left: 70px;*/
	margin-top: 140px;
}

#logo{
	width: auto;
	height: 150%;
}

#helpButton, #homeButton{
	background: transparent;
	border-style: none;
	font-size: 15px;
	color: #ffffff;
	font-family: RalewayLight;
	margin-left: 5px;
	margin-right: 5px;
	padding-top: 15px;
	padding-bottom: 15px;
}

#welcomeButton{
	font-size: 15px;
	color: #ffffff;
	font-family: RalewayLight;
	margin-top: 7px;
	padding-top: 15px;
	padding-bottom: 25px;
}

#welcomeButton:hover{
	background: #303133;
	border-radius: 3px;
	color: #f7f1ed;
}

#welcomeButton:focus{
	border-style: none;
	color: #f7f1ed;
}

#welcomeDropdown{
	background: #303133;
	opacity: 0.8;
}

#welcomeDropdown a{
	font-size: 15px;
	color: #f7f1ed;
}

#welcomeDropdown li a:hover{
	color: #303133;
	background-color: #f7f1ed;
}

.collapse li:hover{
	background: #303133;
	border-radius: 2px;
	color: #f7f1ed;
}

#searchFormNavBar{
	margin-top: 15px;
}

#home_carousel{
	height: 500px !important;
  	width: 100%;
  	overflow: hidden;
}

#separatorFromNavBar{
	margin-top: 6%;
}

.caption-main-carousel{
	background-color: #303133;
	color: #ffffff;
	border-radius: 20px;
	font-family: RalewayLight;
	font-size: 13px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 20px;
	padding-left: 20px;
	margin-bottom:20px;
	display:inline; /*kasi h1 is is a block element, so , it will use all the available area. so change this element to inline, for only use its width*/
}

.button-main-carousel{
	margin-bottom: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-right: 15px;
	padding-left: 15px;
	font-size: 16px;
	color: #ffffff;
	background-color: #2f7a44;
	border-color: transparent;
	font-family: ClearfaceBold;
}

.button-main-carousel:hover{
	font-size: 16px;
	color: #ffffff;
	background-color: #256036;
	border-color: transparent;
	font-family: ClearfaceBold;
}


#myReadingListCarousel img, #mostReviewedListCarousel img{
	margin-top: 20px;
}

.carousel-control.left, 
.carousel-control.right {
    background-image: none;
}

#myReadingListCarousel, #mostReviewedListCarousel{
	margin-left: 50px;
  	margin-right: 50px;
  	padding-bottom: 30px;
  	border-style: none;
  	border-radius: 40px;
}

#myReadingListContainer, #mostReviewedListContainer{
	margin-bottom: auto;
	height: 60%;
	width: 85%;

}

.carousel-control.left {
  	margin-left: -100px;
  	color: #303133;
}

.carousel-control.right {
  	margin-right: -100px;
  	color: #303133;
}

#myReadingListHeader,#mostReviewedListHeader{
	font-family: ClearfaceBold;
	color: #09090a;
}

.small-caption{
	background-color: #303133;
	color: #ffffff;
	border-radius: 20px;
	font-family: RalewayLight;
	font-size: 12px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 20px;
	padding-left: 20px;
	margin-bottom:20px;
	display:inline; /*kasi h1 is is a block element, so , it will use all the available area. so change this element to inline, for only use its width*/
}

#separatorDiv{
	margin-bottom: 10px;
}

#bookCard h3{
	font-family: ClearfaceBold;
	font-size: 18px;
}

#bookCard h3 a, #bookCard p a{
	color: #09090a;
}

#bookCard p{
	font-family: RalewayMedium;
	font-size: 13px;
}


.aboutDiv{
	text-align: center;
	padding-top: 25px;
	padding-bottom: 25px;
	margin-top: 10px;
	margin-left: 5px;
	margin-right: 5px;
	font-family: ClearfaceBold;
}

#searchBrowseDivInfo{
	/*background-color: #e8ca93;*/
	background-image: url('../images/Website Images/info_index_1.jpg');
	background-size: cover;
	color: #ffffff;
	box-shadow: inset 0 0 0 1000px rgba(219,172,152,.4);
}

#rateReviewDivInfo{
	/*background-color: #f0e2a8;*/
	background-image: url('../images/Website Images/info_index_2.jpg');
	background-size: cover;
	color: #ffffff;
	box-shadow: inset 0 0 0 1000px rgba(219,172,152,.4);
}

#readingListDivInfo{
	/*background-color: #f0e2a8;*/
	background-image: url('../images/Website Images/info_index_3.jpg');
	background-size: cover;
	color: #ffffff;
	box-shadow: inset 0 0 0 1000px rgba(219,172,152,.4);
}

#newReleasesDivInfo{
	/*background-color: #e8ca93;*/
	background-image: url('../images/Website Images/info_index_4.jpg');
	background-size: cover;
	color: #ffffff;
	box-shadow: inset 0 0 0 1000px rgba(219,172,152,.4);
}

.aboutDiv:hover {
    background-size: 100% auto;
}


#indexFooter{
	background-color: black;
	opacity: 0.9;
	padding-top: 50px;
	width: 100%;
	height: 220px;
}

#indexFooter p{
	font-family: RalewayLight;
	font-size: 12px;
	margin-left: 5px;
	color: #ffffff;
}

#footerLogo{
	width: 40%;
	height: 10%;
	padding-top: 20px;
	margin-left: 5px;
	margin-bottom: 10px;
}

.btn-circle{ /*custom*/
	width: 60px;
	height: 60px;
	text-align: center;
	padding: 16px 0;
	line-height: 1.42;
	border-radius: 30px;
}

.social-media-buttons{
	color: #ffffff;
	background-color: #303133;
	border-color: transparent;
	padding-left: 5px;
	padding-right: 5px;
	margin-left: 5px;
	margin-right: 5px;
	margin-bottom: 10px;
}

.social-media-buttons:hover{
	color: #f2dcd6;
	background-color: #212223;
}